* {
    box-sizing: border-box;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.opacity-wrap {
    background-color: rgba(10, 10, 10, 0.8);
}

.grey {
    color: grey;
}

/* Navbar */

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    margin-bottom: 0 !important;
    background-color: rgb(17, 17, 19) !important;
}

/* home header */
.header-image {
    background-image: url('./components/images/headerImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.backdrop {
    width: 100%;
    height: 400px;
    background: rgba(10, 10, 10, 0.3);
}



/* Trending Component */

.scroller {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.item-box {
    min-width: 155px;
    height: 235px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 52px 0px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 7px rgb(56, 60, 61);
}

.title-text {
    font-weight: 600;
    padding: 10px 0px 0px 0px;
    margin: 0px 52px 0px 0px;
}

/* search bar */

.home-searchbar-wrap {
    background: rgba(10, 10, 10, 0.3);
}

/* search list items */

.list-item-wrap {
    min-height: 160px;
    max-height: 160px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

.list-item-box1 {
    min-height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    padding: 0 !important;
}

.overflow {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    color: gray;
    font-size: 14px;
}

#link {
    text-decoration: none;
}

.image-link {
    width: 100%;
    height: 100%;
}


/* no results */

.no-results-text {
    font-size: 25px;
}

/* pagination */
.pagination-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pagination-wrap {
    max-width: 80%;
}

.page-number-wrap {
    min-width: 60px;
}

/* Single movie / TvShow page */
.single-item-image-wrap {
    min-height: 450px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.single-item-image {
    width: 250px;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.single-wrap-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.release-date {
    color: rgb(143, 139, 139);
    font-size: 14px;
}

.tagline {
    color: rgb(143, 139, 139);
    font-style: italic;
}

/* cast card */
.person-card {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.actor-info {
    min-height: 130px;
}


/* single page videos */
.trailer {
    min-width: 470px;
    height: 250px;
}

/* single page recommendations */

.wide-item-box {
    min-width: 300px;
    height: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 52px 0px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 8px 8px 7px rgb(56, 60, 61);
}

/* reviews */

.review-wrap {
    border: 1px solid rgb(100, 97, 97);
    box-shadow: 8px 8px 7px rgb(111, 116, 117);
}

.load-more {
    color: dodgerblue;
    font-weight: 600;
}

.load-more:hover {
    cursor: pointer;
    color: darkblue;
}

/* cast page */
.cast-item-image {
    border: 1px solid black;
    width: 100px;
    height: 120px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.cast-item-wrap {
    border: 1px solid lightgray;
}

.cast-item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* person page */

.single-person-image {
    width: 300px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.person-info-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.person-container {
    border-bottom: 3px solid lightgray;
}

/* single person roles component */
.roles-wrap {
    display: flex;
    width: 100%;
    border: 1px solid rgb(163, 161, 161);
}

.roles-image {
    width: 140px;
    height: 230px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 1px solid rgb(163, 161, 161);
}

/* create account form  */
label {
    font-weight: bold;
}

/* favorite button */

.favorite-btn {
    min-height: 55px;
}

.heart-icon {
    font-size: 40px;
}

/* favorite page */

.fav-wrap {
    border: 1px solid grey;
}

.fav-image {
    min-width: 100%;
    min-height: 167px;
    border: 1px solid grey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}